
:root{
/* FARBPALETTE*/
--nav: #FFBB5E; 
--hover: #B7E7FC;
--water: #234A95; 
--earth: #28683D; 
--fire: #B03320; 
--bg-elements: #FFF9F0;
--font: #1C150A; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    background-color: var(--nav);
    position: relative;
    z-index: 10;
    height: 80px; 
}

    

/* LOGO */
.logo img {
    height: 50px;
    width: auto;
}

/* DROPDOWN */
.seasonfilter {
    padding: 15px 15px;

    font-size: 15px;

    border: 1px solid var(--font);
    border-radius: 10px;

    background-color: var(--bg-elements);
    color: var(--font);

    cursor: pointer;

    outline: none;

    min-width: 280px;
}


.hero {
  position: relative;
  height: calc(100vh-80px); 
  background-size: cover;
}


body {
  font-family: "Herculanum", sans-serif;
}

.hidden {
  display: none;
}
